.shelf {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 30px #CCC;
    max-width: 30em;
    margin: 1em;
    font-family: Arial;
    transition: 0.2s;
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (min-width: 768px) {
  .shelf {
    margin: 3em;
  }
}

.shelf:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px #CCC;
    margin: 1.3em;
}

@media only screen and (min-width: 768px) {
  .shelf:hover {
    margin: 3.3em;
  }
}

.strip {
    background: linear-gradient(to right,rgba(213, 0, 255, 1) 0%, rgba(111, 0, 255, 1) 100%);
    border-radius: 10px 10px 0px 0px;
    height: 8px;
    margin: -10px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 6px;
}

.picker {
    display: flex;
    justify-content: center;
}

.picker-hidden{
    display: none !important;
}

input[type="submit"] {
  padding: 1em 2em;
  margin: 1em 0;
  width: 80%;
}
