<!DOCTYPE HTML>
<html>

<head>
    <title>Max's Bar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
        integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/mainstyle.css">
</head>

<body>
    <center>
        <div class="shelf" id="bar-container">
            <img class="logo" src="/static/img/BarLogo.jpg">
            <form id="allLightsOn">
                <input type="submit" value="Run Lights" class="pure-button" />
            </form>
            <form id="allLightsOff">
                <input type="submit" value="Stop Lights" class="pure-button" />
            </form>
            <form id="movingLEDrun">
                <input type="submit" value="Moving LEDs" class="pure-button" />
            </form>
            <form id="shelfRandomColours">
                <input type="submit" value="Shelf Random Colours" class="pure-button" />
            </form>
            <form id="rainbow">
                <input type="submit" value="Rainbow Cycle" class="pure-button" />
            </form>
            <form id="raise">
                <input id="raise-button" type="submit" value="Raise" class="pure-button" />
            </form>
            <form id="lower">
                <input id="lower-button" type="submit" value="Lower" class="pure-button" disabled/>
            </form>
            <form id="decanter">
                <input id="decanter" type="submit" value="Decanter" class="pure-button" />
            </form>
            <form id="fab">
                <input id="fab" type="submit" value="F.A.B" class="pure-button" />
            </form>
        </div>
        <div class="shelf" id="preset-dropdown-container">
            <div class="strip"></div>
            <h1>Presets</h1>
            <select name="presets" id="preset-dropdown"></select>
        </div>
        <div class="shelf" number="1">
            <div class="strip"></div>
            <h1>Shelf 1</h1>
            <div class="picker picker-hidden" id="picker1" name="1"></div>
        </div>
        <div class="shelf" number="2">
            <div class="strip"></div>
            <h1>Shelf 2</h1>
            <div class="picker picker-hidden" id="picker2" name="2"></div>
        </div>
        <div class="shelf" number="3">
            <div class="strip"></div>
            <h1>Shelf 3</h1>
            <div class="picker picker-hidden" id="picker3" name="3"></div>
        </div>
        <div class="shelf" number="4">
            <div class="strip"></div>
            <h1>Shelf 4</h1>
            <div class="picker picker-hidden" id="picker4" name="4"></div>
        </div>
        <div class="shelf" number="5">
            <div class="strip"></div>
            <h1>Shelf 5</h1>
            <div class="picker picker-hidden" id="picker5" name="5"></div>

        </div>
        <div class="shelf" number="6">
            <div class="strip"></div>
            <h1>Shelf 6</h1>
            <div class="picker picker-hidden" id="picker6" name="6"></div>
        </div>
        <div class="shelf" number="7">
            <div class="strip"></div>
            <h1>Shelf 7</h1>
            <div class="picker picker-hidden" id="picker7" name="7"></div>
        </div>
        <div class="shelf" number="8">
            <div class="strip"></div>
            <h1>Shelf 8</h1>
            <div class="picker picker-hidden" id="picker8" name="8"></div>
        </div>
        <div class="shelf" number="10">
            <div class="strip"></div>
            <h1>Floor Left </h1>
            <div class="picker picker-hidden" id="picker10" name="10"></div>
        </div>
        <div class="shelf" number="11">
            <div class="strip"></div>
            <h1>Floor Middle </h1>
            <div class="picker picker-hidden" id="picker11" name="11"></div>
        </div>
        <div class="shelf" number="12">
            <div class="strip"></div>
            <h1>Floor Right </h1>
            <div class="picker picker-hidden" id="picker12" name="12"></div>
            <!-- <form id="FloorRightLights">
                        <input type="color" id="shelfColor" value="ff0000" name="FloorRight">
                        <input type="submit" value="Run Lights" />
                    </form> -->
        </div>
        <div class="shelf" number="13">
            <div class="strip"></div>
            <h1>Black Board </h1>
            <div class="picker picker-hidden" id="picker13" name="13"></div>
        </div>
        <audio id="thunderbirds" src="/static/audio/Thunderbirds.mp3"></audio>
        <audio id="starwars" src="https://www.soundboard.com/mediafiles/nz/NzgyNjE2Mzc4MjczNw_uPjBRei6KIc.mp3"></audio>
    </center>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src="/static/js/index.js" type="text/javascript"></script>
</body>

</html>